<nav class="navbar">
    <ul>
        <li>
            <!-- ----- Jinja templating method used here to target the index page
                 ----- via calling the appropriate function, 
                 ----- as standard filepaths arent being used -->
            <a href="{{ url_for('index') }}">Home</a>
        </li>
        <!-- flask identifies code here between DOUBLE curly braces {}
             The code here "looks up" the URL for the value in the brackets ( )
             In the Flask/Python code. These are the names we gave to the
             FUNCTIONS(def) in the app.route() methods. ie: [def about():] or [def index():] -->
        <li>
            <a href="{{ url_for('about') }}">About</a>
        </li>
        <li>
            <a href="{{ url_for('contact') }}">Contact</a>
        </li>
        <li>
            <a href="{{ url_for('careers') }}">Careers</a>
        </li>
    </ul>
</nav>

<!-- sqaure bracket nottion can be used here after the variable name to target specific keys and values in variable -->
{{ company[0]["name"] }}



{% for dwarf in company %}

    {% if loop.index % 2 != 0 %}

    <div class="row featurette">
        <div class="col-md-7">
            <h3>{{ dwarf.name }}</h3>
            <p>
               {{ dwarf.description }}
            </p>
        </div>
        <div class="co-md-5">
            <img src="{{ dwarf.image_source }}" alt="" class="featurette-image image-responsive">
        </div>
    </div>

    {% else %}

    <div class="row featurette">
        <div class="co-md-5">
            <img src="{{ dwarf.image_source }}"  alt="" class="featurette-image image-responsive">
        </div>
        <div class="col-md-7">
            <h3>{{ dwarf.name }}</h3>
            <p>
               {{ dwarf.description }}
            </p>
        </div>
    </div>

    {% endif %}

    <hr class="featturette-divider">

{% endfor %}

{% endblock %}