<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css') }}">
    <title>Hello Flask</title>
</head>
<body>

    <nav class="navbar">
        <ul>
            <li>
                <!-- ----- Jinja templating method used here to target the index page
                     ----- via calling the appropriate function, 
                     ----- as standard filepaths arent being used -->
                <a href="{{ url_for('index') }}">Home</a>
            </li>
            <!-- flask identifies code here between DOUBLE curly braces {}
                 The code here "looks up" the URL for the value in the brackets ( )
                 In the Flask/Python code. These are the names we gave to the
                 FUNCTIONS(def) in the app.route() methods. ie: [def about():] or [def index():] -->
            <li>
                <a href="{{ url_for('about') }}">About</a>
            </li>
            <li>
                <a href="{{ url_for('contact') }}">Contact</a>
            </li>
            <li>
                <a href="{{ url_for('careers') }}">Careers</a>
            </li>
        </ul>
    </nav>

    <!--  while double curly Braces for urls are expressions, 
     curly bracket + percentage sign elements are treated like the contents of a statement or a loop  -->
     <!-- Everything ABOVE block content is copied. -->
    {% block content %}
    {% endblock %}
</body>
</html>